Repository NavinduK/CSUP-member-reg-sys, pull requests merged in 2020-12, with the labels that each got.

#16 created adminlogin component
  src/App.js
  src/Component/AdminLogin/adminlogin.js
  src/Component/AdminLogin/adminlogin.module.scss
Labels: UI modification

#20 Register Num validation process of server and client
  .env.development
  package-lock.json
  package.json
  server/csup/src/main/java/com/csup/registration/Admins.java
  server/csup/src/main/java/com/csup/registration/CsupApplication.java
  src/App.js
  src/Component/Main/main.js
Labels: UI modification, server implementation

#27 Mysql db con, CORS error fix, organize folders on spring
  db_script/Admin.sql
  server/csup/pom.xml
  server/csup/src/main/java/com/csup/registration/CorsConfig.java
  server/csup/src/main/java/com/csup/registration/CsupApplication.java
  server/csup/src/main/java/com/csup/registration/controller/AdminController.java
  server/csup/src/main/java/com/csup/registration/dto/AdminDTO.java
  server/csup/src/main/java/com/csup/registration/dto/RegNoDTO.java
  server/csup/src/main/java/com/csup/registration/entity/AdminEntity.java
  server/csup/src/main/java/com/csup/registration/repository/AdminRepository.java
  server/csup/src/main/java/com/csup/registration/services/AdminServices.java
  server/csup/src/main/java/com/csup/registration/services/impl/AdminServicesImpl.java
  server/csup/src/main/resources/application.properties
  src/App.js
  src/Component/AdminLogin/adminlogin.js
  src/Component/AdminLogin/adminlogin.module.scss
  src/Component/Main/main.js
  src/Component/Register/register.js
Labels: server implementation

#31 Admin password validation done
  server/csup/src/main/java/com/csup/registration/controller/AdminController.java
  src/Component/AdminLogin/Adminlogin.js
  src/Component/AdminPanel/Navbar.js
  src/Component/Main/Main.js
Labels: server implementation

#36 Pending member system completed
  server/csup/src/main/java/com/csup/registration/CsupApplication.java
  server/csup/src/main/java/com/csup/registration/controller/AdminController.java
  server/csup/src/main/java/com/csup/registration/controller/MemberController.java
  server/csup/src/main/java/com/csup/registration/controller/PendingController.java
  server/csup/src/main/java/com/csup/registration/controller/UserController.java
  server/csup/src/main/java/com/csup/registration/dto/PendingDTO.java
  server/csup/src/main/java/com/csup/registration/dto/RegNoDTO.java
  server/csup/src/main/java/com/csup/registration/entity/PendingEntity.java
  server/csup/src/main/java/com/csup/registration/repository/PendingRepository.java
  server/csup/src/main/java/com/csup/registration/services/PendingServices.java
  server/csup/src/main/java/com/csup/registration/services/impl/PendingServicesImp.java
  src/App.js
  src/Component/AdminPanel/AdminPanel.js
  src/Component/AlreadyMember/AlreadyMember.js
  src/Component/AlreadyMember/AlreadyMember.module.scss
  src/Component/Main/Main.js
  src/Component/Main/Main.module.scss
  src/Component/Register/Register.js
Labels: server implementation
